.places {
  padding-bottom: 92px;
}

@media screen and (max-width: 928px) {
  .places {
    padding: 0 24px 90px;
  }
}

@media screen and (max-width: 690px) {
  .places {
    padding: 0 0 66px;
  }
}