.cover {
  padding-top: 92px;
  transition: padding 0.3s;
}

@media screen and (max-width: 1075px) {
  .cover {
    padding: 92px 0 0;
  }
}

@media screen and (max-width: 928px) {
  .cover {
    padding: 90px 0 0;
  }
}

@media screen and (max-width: 690px) {
  .cover {
    padding: 66px 0 0;
  }
}