.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
  margin: 0 0 32px;
  z-index: 1;
}

@media screen and (max-width: 690px) {
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
    margin: 0 0 16px;
  }
}